<%- include('partials/header') %>
<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-3">Your Account Balance</h1>
    <br>
    
    <hr>
    <% usersWithbalance.forEach(function(user){ %>
      <p class="secret-text"><%=user.balance%></p>
    <% }) %>
    <hr>

    <a class="btn btn-dark btn-lg" href="/secrets" role="button">Return Home</a>
    <a class="btn btn-dark btn-lg" href="/logout" role="button">Log Out</a>
  </div>
<%- include('partials/footer') %>
